.card-grid {
  // demo
  margin: 6rem auto;
  width: min(100% - 2rem, 60rem);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  --padding: 1rem;
  position: relative;
  display: grid;
  grid-row: 2;
  padding: var(--padding);
  border: 1px solid var(--color-neutral-400);
  border-bottom: 5px solid var(--color-primary);
  aspect-ratio: 1 / 0.7;
  z-index: 1;
  transition: transform 0.35s ease, z-index 0s 0.35s linear;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  &::before {
    opacity: 0;
    background: var(--color-neutral-900);
    filter: blur(2em);
    z-index: -3;
    transform: translate(0, 0);
    transition: transform 0.35s ease, opacity 0.35s ease;
    pointer-events: none;
  }

  &::after {
    background-color: var(--color-neutral-100);
    z-index: -1;
    transition: background-color 0.35s ease;
  }

  &:hover,
  &:focus {
    background-color: var(--color-neutral-900);
    transform: scale(1.35);
    border: 0;
    z-index: 5;
    transition: transform 0.35s ease, background-color 0.35s ease;
    animation: shake 0.75s ease-in;
    animation-delay: 0.5s;

    &::before {
      opacity: 0.3;
      transform: translate(-50%, 50%);
    }

    &::after {
      background-color: var(--color-neutral-900);
    }

    .card__title {
      color: var(--color-neutral-100);
    }

    .card__arrow {
      opacity: 1;
      transform: translateX(0);
    }

    .card__image {
      &:nth-of-type(1) {
        transform: rotate(-5deg) translate(120%, 30%);
      }
      &:nth-of-type(2) {
        transform: rotate(10deg) translate(140%, 80%);
      }
      &:nth-of-type(3) {
        transform: rotate(5deg) translate(40%, 130%);
      }
      &:nth-of-type(4) {
        transform: rotate(-15deg) translate(-80%, 100%);
      }
      &:nth-of-type(5) {
        transform: rotate(5deg) translate(-70%, 40%);
      }

      @for $image from 0 through 4 {
        &:nth-of-type(#{$image + 1}) {
          transition-delay: 0.8s + ($image * 0.08);
        }
      }
    }

    &.card--large {
      .card__image {
        &:nth-of-type(3) {
          transform: rotate(5deg) translate(40%, 190%);
        }
      }
    }
  }

  &--large {
    aspect-ratio: 1 / 1;
  }

  &--offset-up {
    grid-row: 1 / span 2;
  }

  &--offset-down {
    grid-row: 2 / span 2;
  }

  &__number {
    width: min-content;
    margin-left: auto;
    color: var(--color-primary);
  }

  &__title {
    width: min-content;
    margin-top: auto;
    line-height: 1;
    font-size: 2rem;
    font-weight: 600;
    transition: color 0.35s ease;
  }

  &__arrow {
    position: absolute;
    inset: auto var(--padding) calc(var(--padding) / 4) auto;
    font-size: 2rem;
    color: var(--color-primary);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in, opacity 0.2s linear;
  }

  &__image {
    position: absolute;
    max-width: 70%;
    max-height: 70%;
    z-index: -2;
    transition: transform 0.15s ease;
    pointer-events: none;
  }
}

@keyframes shake {
  0% {
    transform: scale(1.35);
  }
  25% {
    transform: scale(1.35) rotate(3deg);
  }
  40% {
    transform: scale(1.35) rotate(-3deg);
  }
  50% {
    transform: scale(1.35) rotate(3deg);
  }
  60% {
    transform: scale(1.35) rotate(-3deg);
  }
  75% {
    transform: scale(1.35) rotate(3deg);
  }
  100% {
    transform: scale(1.35);
  }
}
