body {
  background-color: var(--color-neutral-100);
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
